.hero-image {
  background-image: url("../../Images/landingBackdrop.png");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-color: gold;
  width: 100%;
  height: 201px;
  display: flex;
}

@media screen and (min-width: 550px) {
  
  .hero-image {
    height: 85vh;
  }

}

