.hero-image {
  background-image: url("../../Images/landingBackdrop.png");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
}


