.services {
  margin: 1.5rem auto;
  padding: 1rem 0;
}

.services {
  background: var(--mainGrey);
  text-align: center;
}

.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-row-gap: 1rem;
  grid-column-gap: 1.5rem;
  /* justify-items: center; */
  /* background-color: lightblue; */
}

.services-item-container {
  margin: 5px;
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding: 0.4rem 0;
  /* background-color: lightcoral; */
}

.services-item-icon {
  /* background-color: lightseagreen; */
  font-size: 56px;
  margin: 0rem auto 0.2rem;
}

.services-item-container h4 {
  display: block;
  margin: 0.3rem auto;
  width: fit-content;
  /* background-color: lavender; */
  letter-spacing: var(--mainSpacing);
}
.services-item-container p {
  width: 90%;
  font-size: 10px;
  margin: 0 auto;
}

.services-item-card-border1 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primaryRed);
  width: 75px;
  height: 2px;
}
.services-item-card-border2 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primaryRed);
  width: 2px;
  height: 40px;
}

@media screen and (min-width: 550px) {
  .services-item-container p {
    font-size: var(--pFontSizePC);
    letter-spacing: var(--mainSpacing);
  }

  .services-item-icon {
    font-size: 92px;
    text-align: center;
  }

  .services-item-container h4 {
    border-left: 4px solid var(--primaryRed);
    padding-left: 6px;
    font-size: 26px;
  }
}
