
.franchise-head-div {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.franchise-head-div span {
  width: 90%;
  max-width: 1000px;
  margin: 0px auto;
}

.franchise-feature-main-div {
  background-image: url("https://cdn.pixabay.com/photo/2018/03/01/05/45/businessman-3189794__340.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10rem;
  width: 95%;
}

.franchise-feature-main-div {
  display: flex;
  left: 70%;
}

.franchise-feature-main-div-overlay {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6970659357492996) 25%,
    rgba(255, 255, 255, 0.7362816220238095) 43%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 1200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.franchise-feature-div {
  min-width: 250px;
  flex-wrap: wrap;
  width: 530px;
  height: 400px;
  text-transform: uppercase;
  margin-top: 21px;
}

.franchise-feature-div div {
  margin: 1rem 1rem;
}

.franchise-get-started-comp {
  background-color: green;
  height: 400px;
}

.franchise-get-started-icon {
  color: black;
  fill: black;
  font-size: 112px;
}

.franchise-get-started-icon > g {
  fill: black;
}

.franchise-content-div {
  padding-left: 2rem;
}

.franchis-low-cost, .franchise-360-support, .franchise-simple-process {
  display: flex;
  height: 400px;
  margin-top: 4rem;
  width: 95%;
}

.franchis-low-cost div {
  margin: 80px auto;
}

.franchise-simple-process {
  height: 400px;
  display: flex;
  margin-top: 4rem;
  width: 95%;
}

.franchise-simple-process div {
  margin: 80px auto;
}

.franchise-simple-process img {
  position: relative;
  right: 0%;
}

.franchise-360-support {
  height: 400px;
  display: flex;
  margin-top: 4rem;
  width: 95%;
}

.franchise-360-support img {
  position: absolute;
  height: 400px;
  margin-right: 5.5rem;
  right: 0px;
  width: 600px;
}

.franchise-360-support div {
  margin-top: 90px;
  margin-left: 170px;
}
