.faq-hero {
  background-color: var(--mainBlack);
  color: var(--mainGrey);
}

.faq-hero-child1 {
  padding-top: 4em;
  font-size: 2em;
}

.faq-hero-child2 {
  display: flex;
  margin-top: 2em;
}

.faq-hero-text {
  font-family: "Alata", sans-serif;
  width: 50%;
  font-size: 8.5rem;
  letter-spacing: 0.3em;
}

.faq-hero-search {
  display: flex;
  align-items: center;
  float: left;
  width: 50%;
}

.faq-hero-search input[type=text],
.faq-hero-search input[type=text]:focus {
  border: none;
  outline: none;
  line-height: 3em;
  width: 75%;
  font-size: 1em;
  padding-left: 1em;
}

#faq-search-button {
  outline: none;
  border: none;
  background-color: var(--primaryColor);
  color: var(--accentColor);
  line-height: 3em;
  padding: 0 1em;
}

#faq-search-button:hover {
  background-color: var(--accentColor);
  color: var(--mainGrey);
}

.faq-qa-main {
  display: flex;
  padding: 3em;
}

.faq-type-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 3em;
  width: 50%;
  font-family: "Alata", sans-serif;
  color: var(--mainBlack);
}

.separator {
  margin-top: 0.5em;
  width: 1.5em;
  height: 0.15em;
  background-color: var(--primaryColor);
  border: none;
}

.faq-accordion {
  display: block;
  width: 100%;
  color: var(--accentColor);
}

@media screen and (max-width: 550px) {
  .faq-hero-child1 {
    font-size: 1em;
    padding-top: 1.5em;
  }
  .faq-hero-child2 {
    margin-top: 1em;
    flex-direction: column;
    text-align: center;
  }
  .faq-hero-search {
    padding: 1em 2em;
    justify-content: center;
    width: 100%;
  }
  .faq-hero-text {
    width: 100%;
    font-size: 3rem;
  }
  .faq-hero-search input[type=text],
  .faq-hero-search input[type=text]:focus,
  #faq-search-button {
    line-height: 2em;
  }
  .faq-qa-main {
    flex-direction: column;
    padding: 0;
  }
  .faq-type-head {
    width: 100%;
    padding-bottom: 0.5em;
    padding-top: 0.5em ;
    font-size: 2em;
  }
  .faq-accordion {
    padding: 1em;
    font-size: 1em;
  }
}