.faq-hero {
  background-color: var(--accentColor);
  color: var(--mainGrey);
}

.faq-hero-child1 {
  padding-top: 4em;
  font-size: 2em;
}

.faq-hero-child2 {
  display: flex;
  margin-top: 2em;
}

.faq-hero-text {
  font-family: "Alata", sans-serif;
  width: 50%;
  font-size: 8rem;
  letter-spacing: 0.3em;
}

.faq-hero-search {
  display: flex;
  align-items: center;
  float: left;
  width: 50%;
}

.faq-hero-search input[type=text] {
  border: none;
  border-bottom: 3px solid var(--accentColor);
  line-height: 3em;
  width: 75%;
  font-size: 1em;
  padding-left: 1em;
}

.faq-qa-main {
  display: flex;
  padding: 3em;
  color: var(--accentColor);
}

.faq-type-head {
  font-size: 3em;
  width: 50%;
  font-family: "Alata", sans-serif;
}

.faq-accordion {
  display: block;
  width: 100%;
}

@media screen and (max-width: 550px) {
  .faq-hero-text {
    font-size: 3rem;
  }
  .faq-qa-main {
    flex-direction: column;
    padding: 1em;
  }
  .faq-type-head {
    width: 100%;
    padding: 1em;
  }
}