.services {
	margin: 1.5rem auto;
	padding: 1rem 0;
}

.services {
	background: var(--mainGrey);
	text-align: center;
}

.services-center {
	width: 70vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.services-item-container {
	margin: 5px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	width: 100%;
	margin: 0.5em;
	padding: 0.4rem 0;
	/* background-color: lightcoral; */
	background: linear-gradient(30deg, #343a40 38%, #030202 30%);
	box-shadow: 0 0 4px 0px #000000;
	color: whitesmoke;
}

.services-item-container svg {
	color: var(--primaryColor);
}

.services-item-icon {
	/* background-color: lightseagreen; */
	font-size: 56px;
	margin: 0rem auto 0.2rem;
}

.services-item-container h4 {
	display: block;
	margin: 0.3rem auto;
	width: fit-content;
	/* background-color: lavender; */
	letter-spacing: var(--mainSpacing);
}
.services-item-container p {
	width: 90%;
	font-size: 10px;
	margin: 0 auto;
}

.services-item-card-border1 {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--primaryRed);
	width: 75px;
	height: 2px;
}
.services-item-card-border2 {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--primaryRed);
	width: 2px;
	height: 40px;
}

@media screen and (min-width: 550px) {
	.services-center {
		width: 90%;
		flex-direction: row;
		align-items: stretch;
	}

	.services-item-container p {
		font-size: var(--pFontSizePC);
		letter-spacing: var(--mainSpacing);
	}

	.services-item-icon {
		font-size: 92px;
		text-align: center;
	}

	.services-item-container h4 {
		border-bottom: 4px solid var(--primaryRed);
		padding-left: 6px;
		font-size: 1.5em;
	}
}
