.ad-main-comp {
  width: 100%;
  margin-top: 2rem;
  padding: 1em;
}

.ad-reach-audience {
  width: fit-content;
  text-align: left;
  margin: auto;
  line-height: 1.2;
  font-size: 72px;
  font-weight: 500;
  color: var(--primaryColor);
}

.ad-right-msg {
  width: fit-content;
  text-align: left;
  margin: auto;
  font-size: 18px;
}

.advertise-medium-container {
  margin: 2em auto;
  position: relative;
  width: 70%;
  height: auto;
  text-align: left;
}

.advertise-medium-container h3 {
  color: var(--primaryColor);
  font-size: 2em;
}
.advertise-medium {
  color: var(--mainWhite);
  font-weight: 500;
  column-count: 2;
  column-width: 300px;
  padding: 1em;
  padding-bottom: 0;
  line-height: 2;
}
.advertise-medium ul {
  list-style-position: inside;
  list-style-type: circle;
  text-align: justify;
}

.ad-msg {
  text-align: center;
  font-size: 1.15em;
  font-weight: 500;
  padding: 1em 10%;
}

.ad-msg span {
  color: var(--primaryColor);
}

.ad-msg-quote {
  margin: 1em 0;
  font-size: 1.25em;
  font-weight: 550;
  color: orange;
}

.ad-form-cont {
  margin: auto;
  width: 50%;
}

.ad-form-div {
  width: 100%;
  display: flex;
  margin: 1rem auto;
  padding: 1rem 3em;
}

.ad-form-right-div {
  width: 50%;
  padding: 1em;
}

.ad-form-left-div {
  width: 50%;
  background-color: var(--accentColor);
}

@media screen and (max-width: 750px) {
  .ad-form-div {
    flex-direction: column;
    margin: 0rem auto 1rem;
  }
  
  .ad-form-left-div {
    width: 100%;
    margin: auto;
  }
  
  .ad-form-right-div {
    width: 100%;
    margin: 0rem auto;
  }
}

@media screen and (max-width: 550px) {
  .advertise-medium {
    column-count: 1;
  }
  .advertise-medium-container {
    margin: 3rem auto 2rem;
    width: 85%;
  }

  .advertise-medium-container h3 {
    font-size: 22px;
  }
  .advertise-medium {
    column-count: 2;
    column-width: 300px;
    padding: 0rem 2rem 1.5rem 1rem;
  }
  .advertise-medium ul {
    font-size: 14px;
  }

  .ad-right-msg {
    font-size: 14px;
  }

 
}
