.advertise-page {
  height: auto;
  width: 100%;
}

.advertise-hero {
  background: url('../../Images/adBG.jpg') rgba(6, 36, 43, 0.6);
  background-size: contain;
  background-blend-mode: multiply ;
  background-attachment: fixed;
  color: var(--mainGrey);
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  letter-spacing: 1.2px;
  padding: 9em 0;
}

.advertise-hero-text-div {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 4em;
  font-weight: 550;
  text-shadow: 2px 2px 10px black;
}

.advertise-hero-text-div span {
  
  font-size: 0.4em;
  margin: auto;
  height: fit-content;
  width: 100%;
  color: var(--primaryColor);
}

@media only screen and (max-width: 600px) {
  .advertise-hero {
    padding: 4em 0;
  }

  .advertise-hero-text-div {
    font-size: 2em;
    font-weight: 550;
  }
}
