.ad-main-comp {
  width: 100%;
}

.ad-msg {
  text-align: center;
  font-size: 1.15em;
  font-weight: 500;
  padding: 3em 10%;
  color: var(--mainWhite);
  background-color: var(--accentColor);
}

.ad-msg span {
  color: var(--primaryColor);
}

.ad-msg-quote {
  margin-top: 1em;
  font-size: 1.25em;
  font-weight: 550;
  color: orange;
}

.ad-form-cont {
  margin: auto;
  width: 50%;
}

.ad-form-div {
  width: 100%;
  display: flex;
  margin: 3rem auto;
  padding: 1rem 3em;
}

.ad-form-right-div {
  width: 50%;
  padding: 1em;
  
}

.ad-form-right-div h1 {
  color: var(--accentColor);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0;
  font-weight: 600;
}

.ad-form-left-div {
  width: 50%;
  text-align: center;
}

.ad-form-left-div img {
  width: 75%;
}

@media only screen and (max-width: 900px) {
  .ad-msg {
    font-size: 0.9em;
  }
  .ad-msg-quote {
    font-size: 1.15em;
  }
  .ad-form-div {
    flex-direction: column;
    margin-top: 1em;
    padding: 0;
  }
  .ad-form-right-div, .ad-form-left-div {
    width: 100%;
    padding: 1em;
  }
  .ad-form-right-div h1 {
    font-size: 2em;
  }
}
