.ad-main-comp {
  width: 100%;
  margin-top: 2rem;
}

.ad-reach-audience {
  width: fit-content;
  text-align: left;
  margin: auto;
  line-height: 1.2;
  font-size: 72px;
  font-weight: 500;
  color: var(--primaryColor);
}

.ad-right-msg {
  width: fit-content;
  text-align: left;
  margin: auto;
  font-size: 18px;
}

.advertise-medium-container {
  margin: 5.1rem auto 2rem;
  position: relative;
  width: 70%;
  height: auto;
  text-align: left;
}

.advertise-medium-container h3 {
  font-size: 32px;
  font-size: 400;
}
.advertise-medium {
  column-count: 2;
  column-width: 300px;
  padding: 1rem 2rem 1.5rem 1rem;
}
.advertise-medium ul {
  list-style-position: inside;
  list-style-type: circle;
  text-align: justify;
}

.ad-form-cont {
  margin: auto;
  width: 50%;
}

.ad-form-div {
  width: 90%;
  display: flex;
  margin: 0rem auto 1rem;
}

.ad-form-left-div {
  /* background-color: rgb(165, 65, 65); */
  width: 45%;
  margin: auto;
}

.ad-form-right-div {
  width: 45%;
  text-align: left;
  /* background-color: blanchedalmond; */
  margin: 0rem auto;
}

@media screen and (max-width: 750px) {
  .ad-form-div {
    flex-direction: column;
    margin: 0rem auto 1rem;
  }
  
  .ad-form-left-div {
    width: 100%;
    margin: auto;
  }
  
  .ad-form-right-div {
    width: 100%;
    margin: 0rem auto;
  }
}

@media screen and (max-width: 550px) {
  .advertise-medium {
    column-count: 1;
  }
  .advertise-medium-container {
    margin: 3rem auto 2rem;
    width: 85%;
  }

  .advertise-medium-container h3 {
    font-size: 22px;
  }
  .advertise-medium {
    column-count: 2;
    column-width: 300px;
    padding: 0rem 2rem 1.5rem 1rem;
  }
  .advertise-medium ul {
    font-size: 14px;
  }

  .ad-right-msg {
    font-size: 14px;
  }

 
}
