.membership-page {
  min-height: fit-content;
  /* height: 4400px; */
  overflow: hidden;
}

.plan-container {
  position: relative;
  margin: 2rem auto;
  z-index: -10;
}

.plan-container-center {
  z-index: 2;
  padding: 20px 0;
  width: 100%;
}

.plan-selectMembership-title h4 {
  z-index: 3;
}

.plan-container-center h4 {
  /* color: white */
}

.plan-card-container {
  z-index: 3;
  margin: 0 auto;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 1rem;
  column-gap: 5rem;
}

