.membership-page {
  min-height: fit-content;
  overflow: hidden;
}

.plan-bg-container {
  position: relative;
  margin: 2rem auto;
  z-index: -10;
}

.plan-container-center {
  z-index: 2;
  padding: 20px 0;
  width: 100%;
}

.plan-selectMembership-title h4 {
  z-index: 3;
}

.plan-card-container {
  z-index: 3;
  margin: 0 auto;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 1rem;
  column-gap: 5rem;
}

.plan-filter-div {
  width: 100%;
  display: grid;
  text-align: center;
}

.plan-filter-type {
  margin: auto;
}

.merchandise-container{
  width:80%;
  height:fit-content;
  margin:auto;
}
.merchandise-card-container{
  text-align: center;
	border-radius: 5px;
	overflow: hidden;
  margin: auto;
  background-color: white;
	height: 85%;
	width: 65%;
  box-shadow: var(--darkShadow);
  border:1px solid rgb(105, 105, 105);
}
.merchandise-card-container > img{
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 50%;
  display: inline-block;
  
}
.merchandise-tag{
  background-color:rgb(122, 2, 106);
  color:white;
  margin:auto;
}
.merchandise-price{
  background-color:rgb(122, 2, 106);
  color: white;
  font-size:1rem;
  margin-top:10%;
}

