.bmi-main-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bmi-content-left-div,
.bmi-content-right-div {
  width: 45%;
  /* background-color: cornsilk; */
}

.bmi-content-left-div table {
  width: 80%;
  margin: 2rem auto;
}

.bmi-content-left-div tr {
  margin: 2rem auto;
  height: 60px;
  text-transform: capitalize;
  border-bottom: 2px solid black;
}

.bmi-content-left-div td,
th {
  margin: 2rem auto;
  border-right: 2px solid black;
  transition: all 0.1s linear;
}

.bmi-height-entry-field {
  display: flex;
  margin: 0 auto;
  background-color: cornsilk;
  /* justify-content: space-between; */
  align-items: flex-end;
}

.bmi-height-entry-field p {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  width: fit-content;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 4px;
  letter-spacing: 0.00938em;
}

#no-bottom-border {
  border-bottom: none;
}

#no-right-border {
  border-right: none;
}

.bmi-btn-container {
  margin: auto;
  display: flex;
  width: 100%;
}

.bmi-btn-container button {
  margin: 0 1.5rem 0 0;
}

@media screen and (max-width: 650px) {
  .bmi-main-content {
    flex-direction: column;
  }
  .bmi-content-left-div {
    width: 95%;
    /* background-color: rgb(212, 149, 243); */
  }

  .bmi-content-left-div td {
    font-size: 12px;
  }

  .bmi-content-left-div tr {
    height: 40px;
  }

  .bmi-content-right-div {
    width: 95%;

    /* background-color: rgb(237, 224, 243); */
  }
}
