.wju-main-div {
	width: 100%;
	height: fit-content;
	/* font-size: 10%; */
	background-image: url("../../Images/wju1.jpg");
	background-size: cover;
	padding: 2em 0em;
	background-attachment: fixed;
}

.wju-text-div {
	text-align: start;
}

.wju-text-div span {
	font-size: 5vw;
	color: gray;
	margin: 1rem 1rem;
	font-weight: 900;
	line-height: 0.9;
}

.wju-below-text-line {
	background-color: gray;
	height: 10px;
}

.wju-card-div {
	/* transform: translateY(-5vw); */
	position: relative;
	/* width: fit-content; */
}

.wju-card-slider {
	margin: auto;
	font-size: 0.8rem;
	width: 80%;
	padding: 2em;
	display: grid;
	justify-items: center;
	gap: 2em;
	grid-template-columns: 1fr 1fr 1fr;
}

.wju-card {
	display: flex;
	flex-direction: column;
	/* justify-content: space-evenly; */
	font-size: 1em;
	padding: 1.5em;
	width: 100%;
	background: linear-gradient(45deg, #3992a0d4 30%, #2bd2dba6 0%);
	text-align: left;
	transition: transform ease-in-out 0.4s;
}

.wju-card * {
	padding: 0;
	margin: 0;
}

.wju-card h1 {
	font-size: 2em;
	padding-bottom: 0.75em;
	font-weight: 500;
}

.wju-card p {
	font-size: 1.3em;
}

.wju-card:hover {
	transform: translateY(-10px);
}

.cont {
	position: relative;
	width: 300px;
	height: 300px;
	background-color: antiquewhite;
}

@media screen and (max-width: 600px) {
	.wju-card-slider {
		grid-template-columns: 1fr 1fr;
		font-size: 0.5rem;
		width: 100%;
	}
}
