.title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title h4 {
  font-size: 1.2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: uppercase;
  margin-bottom: 0.7rem;
  transition: var(--mainTransition);
}
.baseline {
  position: relative;
  width: 4.5rem;
  height: 3px;
  margin: 0 auto;
  background: var(--primaryColor);
  transition: var(--mainTransition);

}

.title-mask {
  position: absolute;
  height: 3px;
  width: 0.25rem;
  background-color: var(--mainGrey);
}

.title-mask1 {
  left: 0.25rem;
}
.title-mask2 {
  left: 0.75rem;
}
.title-mask3 {
  right: 0.25rem;
}
.title-mask4 {
  right: 0.75rem;
}

@media screen and (min-width: 550px) {
  .title h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .baseline{
    height: 5px;
    width: 7rem;
  }

  .title-mask {
    height: 5px;
    width: 0.3rem;
  }

  .title-mask1 {
    left: 0.3rem;
  }
  .title-mask2 {
    left: 0.9rem;
  }
  .title-mask3 {
    right: 0.3rem;
  }
  .title-mask4 {
    right: 0.9rem;
  }

  .title {
    margin-bottom: 2rem;
  }
}