.login-page {
  background-image: url("../../Images/loginBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 800px;
}

.login-entry-form {
  max-width: 450px;
  width: 95%;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px 40px 20px;
  height: 600px;
  margin: auto;
  background: linear-gradient(to bottom, #7579ff, #1ca9c9);
}

.login-entry-for-button {
  font-size: 16px;
  color: #555555;
  line-height: 1.2;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto 4rem;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;
  background: rgb(219, 248, 253);
  transition: all 0.4s;
}

.login-entry-for-button:hover{
  background: rgb(131, 235, 253);
}

.login-icon1 {
  font-size: 108px;
  color: white;
}

.login-entry > div {
  width: 100%;
  background-color: blue;
  display: flex;
  margin: 0.3rem auto;
}

.login-entry-form h2 {
  margin: 2rem auto 1.5rem;
  color: white;
}

.login-icon {
  font-size: 28px;
  margin-top: auto;
  margin-bottom: 7px;
  padding: 0;
  color: white;
}

@media screen and (max-width: 550px) {
  .login-entry-form {
    width: 92%;
    padding: 25px 30px 20px;
    height: 550px;
    margin: auto;
    /* background-color: black; */
  }
  .login-entry-form button {
    font-size: 16px;
    line-height: 1.2;
    margin: 2rem auto 3rem;
  }
  .login-entry-form h2 {
    margin: 1.6rem auto 1.1rem;
  }

  .login-icon1 {
    font-size: 72px;
  }
}
