.banner {
  margin: 1.5rem auto;
  display: inline-block;
  background: rgba(0, 0, 0, 0.55);
  color: var(--mainWhite);
  padding: 1.2rem 1.3rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}

.banner p {
  font-size: var(--pFontSizeMob);
  letter-spacing: var(--mainSpacing);
  margin: -0.4rem auto 1rem;
  transition: var(--mainTransition);
}

@media screen and (min-width: 550px) {
  .banner p {
    font-size: var(--pFontSizePC);
    letter-spacing: 1px;
    margin: 0rem auto 2rem;
  }

  .banner {
    padding: 1.2rem 2.5rem;
  }
}
