.explore-main-div {
  padding: 3rem 0;
  margin: 3rem auto;
  text-transform: capitalize;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.explore-btn {
  display: flex;
  padding: 1rem 0 0.3rem;
  justify-content: center;
}

.explore-link {
  font-size: 24px;
  margin: 0.3rem 2rem;
  color: var(--primaryColor);
  text-transform: capitalize;
  text-decoration: none;
}

.explore-link:hover {
    color: var(--primaryColor);
}

@media screen and (max-width: 550px) {
  .explore {
    padding: 1.5rem 0;
    margin: 2rem auto;
  }

  .explore-link {
    font-size: 18px;
  }



  .explore-btn {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
  }
}
