.custom {
  height: 850px;
  /* background-color: blue; */
}

.div {
  width: 100%;
  height: 600px;
  background-image: url("../../Images/im10.jpg");
  border: 2px solid black;
  background-size: cover;
  display: flex;
  margin: 4rem auto;
  background-attachment: fixed;
}

.div2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
}

.home-enquiry-main-div {
  width: 80%;
  margin: auto;
  padding: 1.5rem;
  background-color: white;
  box-shadow: 0 0 11px 0px #313131;
  /* background-color: aquamarine; */
}

.home-enquiry-left-div {
  width: 100%;
  margin: 4rem auto;
  color: white;
  height: fit-content;
  /* background-color: aquamarine; */
}

.home-enquiry-left-div span {
  font-weight: 400;
  color: var(--primaryRed);
}

.home-enquiry-left-div h2 {
  margin: 1rem auto;
  font-size: 28px;
}

.home-enquiry-left-div p {
  letter-spacing: 1.3px;
  font-size: 18px;
}

.home-enquiry-btn-container {
  margin: 0.5rem auto;
}

.home-enquiry-btn-container button {
  margin: auto 1rem;
}

@media screen and (min-width: 850px) {
  .custom {
    height: fit-content;
  }
  .div {
    height: 500px;
  }

  .div2 {
    flex-direction: row;
  }

  .home-enquiry-main-div {
    width: 40%;
    min-width: 450px;
    transform: translateY(-45px);
    padding: 2rem;
    border-radius: 5px;
  }

  .home-enquiry-left-div {
    margin: auto;
    width: 45%;
  }

  .home-enquiry-left-div span {
    font-weight: 700;
    color: var(--primaryRed);
  }

  .home-enquiry-left-div h2 {
    margin: 1.5rem auto;
    font-size: 42px;
  }

  .home-enquiry-left-div p {
    letter-spacing: 1.4px;
    font-size: 28px;
  }

  .home-enquiry-btn-container {
    font-size: 0.2em;
  }

  .home-enquiry-btn-container button {
    margin: 0.2rem 1.7rem;
  }
}
