.wju-main-div {
	width: 100%;
	height: fit-content;
	background-image: url("../../../Images/wju1.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	padding: 2rem 0;
	background-attachment: fixed;
}

.wju-text-div {
	text-align: start;
	width: 300px;
	background-color: greenyellow;
	/* min-width: fit-content; */
	margin: auto 0;
}

.wju-text-div span {
	font-size: 72px;
	color: rgba(255, 255, 255, 0.9);
	margin: auto 1rem;
	font-weight: 900;
	/* word-break: ; */
	line-height: 1.2;
}

.wju-below-text-line {
	background-color: gray;
	height: 10px;
}

.wju-card-div {
	width: 65%;
	position: relative;
}

.wju-card-slider {
	margin: auto;
	margin-right: 1rem;
	font-size: 0.8rem;
	background-color: rgb(47, 248, 255);
	width: 100%;
	padding: 2em;
	display: grid;
	justify-items: center;
	gap: 1rem;
	grid-template-columns: 1fr 1fr;
}

.wju-card {
	display: flex;
	flex-direction: column;
	font-size: 1em;
	padding: 1.5em;
	/* width: 400px; */
	min-width: 210px;
	color: rgb(243, 243, 243);
	width: 90%;
	background: linear-gradient(30deg, #343a40 38%, #030202 30%);
	text-align: left;
	transition: transform ease-in-out 0.4s;
}

.wju-card * {
	padding: 0;
	margin: 0;
}

.wju-card h1 {
	font-size: 28px;
	padding-bottom: 0.75em;
	word-wrap: break-word;
	/* font-weight: 500; */
}

.wju-card:hover {
	transform: translateY(-10px);
}

.cont {
	position: relative;
	width: 300px;
	height: 300px;
	background-color: antiquewhite;
}

@media screen and (max-width: 900px) {
	.wju-main-div {
		flex-direction: column;
	}
	.wju-text-div {
		text-align: center;
		width: 90%;
		background-color: greenyellow;
		/* min-width: fit-content; */
		margin: auto;
	}
	.wju-card-div {
		width: 90%;
		margin: auto;
	}
	.wju-card-slider {
		grid-template-columns: 1fr 1fr;
		font-size: 0.5rem;
		width: 100%;
	}
}
