.wju-main-div {
	width: 100%;
	height: fit-content;
	background-image: url("../../../Images/wju1.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	padding: 2rem 0;
	background-attachment: fixed;
}

.wju-text-div {
	text-align: start;
	width: 30%;
	margin: auto 0;
}

.wju-text-div span {
	font-size: 108px;
	color: rgba(255, 255, 255, 0.9);
	margin: auto 1rem;
	font-weight: 900;
	line-height: 1.2;
}

.wju-below-text-line {
	background-color: gray;
	height: 10px;
}

.wju-card-div {
	width: 55%;

	/* background-color: red; */
	position: relative;
}

.wju-card-slider {
	margin: auto;
	margin-right: 1rem;
	font-size: 0.8rem;
	width: 100%;
	padding: 2em;
	display: grid;
	justify-items: center;
	gap: 1rem;
	grid-template-columns: 1fr 1fr;
}

.wju-card {
	display: flex;
	flex-direction: column;
	font-size: 1em;
	padding: 1.5em;
	width: 100%;
	background: linear-gradient(45deg, #3992a0d4 30%, #2bd2dba6 0%);
	text-align: left;
	transition: transform ease-in-out 0.4s;
}

.wju-card * {
	padding: 0;
	margin: 0;
}

.wju-card h1 {
	font-size: 2em;
	padding-bottom: 0.75em;
	font-weight: 500;
}

.wju-card p {
	font-size: 1.3em;
}

.wju-card:hover {
	transform: translateY(-10px);
}

.cont {
	position: relative;
	width: 300px;
	height: 300px;
	background-color: antiquewhite;
}

@media screen and (max-width: 900px) {
	.wju-card-slider {
		grid-template-columns: 1fr 1fr;
		font-size: 0.5rem;
		width: 100%;
	}
}
