/* Navbar */

.top-nav-container {
	position: fixed;
	z-index: 100;
	width: 100%;
}

.top-nav {
	/* position: fixed; */
	/* z-index: 1; */
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.nav-logo img {
	width: 7em;
	margin: 0.5em;
	transition: all linear 0.2s;
}

.nav-links-container {
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-links-container a,
.bottom-nav-link-container a {
	text-decoration: none;
	text-transform: capitalize;
	color: whitesmoke;
	font-size: 18px;
	transition: var(--mainTransition);
	letter-spacing: var(--mainSpacing);
	overflow: hidden;
	/* background: yellow; */
}

.nav-links-container a:hover,
.bottom-nav-link-container a:hover,
.side-nav a:hover {
	color: var(--primaryColor);
	cursor: pointer;
}

.nav-btn-grp {
	display: flex;
	flex-grow: 0.1;
	margin-left: auto;
	justify-content: space-evenly;
}

.nav-toggle-container {
	padding: 0.5em;
}

.text-logo {
	color: var(--primaryColor);
	font-weight: 600;
	font-size: 2em;
	font-family: "Courier New", Courier, monospace;
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
	margin: auto;
	text-transform: capitalize;
}

.bar {
	height: 3px;
	width: 30px;
	background-color: whitesmoke;
	border-radius: 4px;
	margin: 6px;
	transition: all ease-out 0.4s;
	/* border: 1px solid white; */
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-2px, 8px);
	transform: rotate(-45deg) translate(-2px, 8px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-4px, -10px);
	transform: rotate(45deg) translate(-4px, -10px);
}

.bottom-nav-link-container {
	display: flex;
	justify-content: space-evenly;
	height: 100%;
	flex-direction: column;
}

.bottom-nav {
	background-color: rgba(0, 0, 0, 0.918);
	transition: all ease-out 0.4s;
	height: 0px;
}

.bottom-nav-open {
	height: 380px;
}
