.top-nav-container {
	position: fixed;
	z-index: 100;
	width: 100%;
}

.top-nav {
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.nav-logo img {
	width: 7em;
	margin: 0.5em;
	transition: all linear 0.2s;
}

.nav-links-container {
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-links-container a,
.bottom-nav-link-container a {
	text-decoration: none;
	text-transform: capitalize;
	color: whitesmoke;
	font-size: 18px;
	transition: var(--fastTransition);
	letter-spacing: var(--mainSpacing);
	overflow: hidden;
}

.nav-links-container a:hover,
.bottom-nav-link-container a:hover,
.side-nav a:hover {
	color: var(--primaryColor);
	cursor: pointer;
}

.bottom-nav-link-container a {
	width: fit-content;
}

.nav-btn-grp {
	display: flex;
	flex-grow: 0.1;
	justify-content: space-evenly;
}

.nav-toggle-container {
	padding: 0.5em;
}

#nav-link-active {
	padding: 0.2em 0;
	border-bottom: 3px solid var(--primaryColor);
	color: var(--mainWhite);
}

.text-logo {
	color: var(--primaryColor);
	font-weight: 600;
	font-size: 2em;
	font-family: "Courier New", Courier, monospace;
	margin: auto;
	text-transform: capitalize;
}

.bar {
	height: 3px;
	width: 30px;
	background-color: whitesmoke;
	border-radius: 4px;
	margin: 6px;
	transition: all ease-out 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-2px, 8px);
	transform: rotate(-45deg) translate(-2px, 8px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-4px, -10px);
	transform: rotate(45deg) translate(-4px, -10px);
}

.bottom-nav-link-container {
	display: flex;
	justify-content: space-evenly;
	height: 100%;
	min-height: 300px;
	flex-direction: column;
	align-items: center;
}

.bottom-nav {
	background-color: rgba(0, 0, 0, 0.918);
	transition: all ease-out 0.4s;
	width: 100%;
	overflow-y: scroll;
	/* height: 0px; */
}
