:root {
    --primaryColor: #af9a7d;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #cfcfcf;
    --mainTransition: all 0.4s linear;
    --mainSpacing: 2.8px;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* Navbar */

.navbar-container {
    display: flex;
    /* background-color: red; */
}

.nav-logo {
    width: 11%;
    padding: 0 60px;
    display: flex;
    justify-content: center;
    /* background-color: blueviolet; */
}
.nav-logo img {
    max-height: 100px;
}

.navbar {
    display:block;
    margin: auto;
    width: 89%;
    height: 70px;
    padding: 5px 0;
    border-radius: 35px 0 0 35px;
    background: var(--offWhite);
    z-index: 1;
    /* background: cyan; */
    
}

.nav-links-container {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: end;
    overflow: hidden;
    transition: var(--mainTransition);
    /* background-color: coral; */
    /* float: right; */
}

.nav-links-container a{
    text-decoration: none;
    color: black; 
    /* background: yellow; */
    text-transform: capitalize;
    font-size: 23px;
    margin: auto;
    /* padding: 5px 1px; */
    font-weight: 500;
    transition: var(--mainTransition);
    letter-spacing: var(--mainSpacing);
}

.nav-links-container a:hover, .side-nav a:hover {
    color: #418FA2;
    cursor: pointer;
}

.nav-links-container-btn {
    width: 19%;
    display: flex;
    margin: auto 0;
    justify-content: space-around;
    /* background-color: violet; */
}

.nav-links-container-btn Button, .loginTrialBtn{
    padding: 6px 11px;
    border-radius: 6px;
    font-size: 20px;
    color: #418FA2;
    outline: #418FA2;
    border: 1px solid #418FA2;
    background-color: inherit;
    /* margin: auto; */
    transition: all 0.2s linear;
}
.nav-links-container-btn Button:hover, .loginTrialBtn:hover{
    color: white;
    border: 1px solid #418FA2;
    background-color: #418FA2;
}

.nav-btn {
    width: 0%;
    float: right;
    margin-top: 11px;
    transition: 0.3s ease-in;
    overflow: hidden;
    /* background-color: blueviolet; */
}



@media screen and (max-width: 1300px) {
    .nav-links-container a{
        font-size: 16px;
        padding: 7px 7px;
    }

    

    .nav-links-container-btn Button {
        font-size: 16px;
    }

}

@media screen and (max-width: 1000px) {
    .nav-links-container  {
        display: none;
    }
    
    .nav-btn {
        display: block;
        margin-top: 11px;
        float: right;
        min-width: 34px;
        width: 4.5%;
    }

    

}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #418FA2;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 9px);
    transform: rotate(-45deg) translate(-9px, 9px);
}
  
.change2 {opacity: 0;}
  
.change3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
}

/* Side Nav */
.side-nav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.side-nav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 42px;
    margin-left: 50px;
}

.side-nav Button {
    display: block;
    margin: 8px 8px 22px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    transition: 0.3s;
}

.show-side-nav {
    width: 250px
}


