/* Navbar */
.nav-main {
	position: fixed;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: 5px;
	/* border: 1px solid whitesmoke; */
}

.nav-logo {
	width: 7em;
	margin: 0 3em;
}

.nav-logo img {
	width: 100%;
}

.right-nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.nav-links-container {
	flex-grow: 0.8;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-links-container a,
.bottom-nav-link-container a {
	text-decoration: none;
	text-transform: capitalize;
	color: whitesmoke;
	font-size: 18px;
	transition: var(--mainTransition);
	letter-spacing: var(--mainSpacing);
	overflow: hidden;
	/* background: yellow; */
}

.nav-links-container a:hover,
.bottom-nav-link-container a:hover,
.side-nav a:hover {
	color: var(--primaryColor);
	cursor: pointer;
}

.nav-links-container-btn {
	flex-grow: 0.15;
	display: flex;
	justify-content: space-between;
}

.nav-links-container-btn Button,
.loginTrialBtn {
	padding: 4px 7px;
	border-radius: 6px;
	font-size: 18px;
	color: var(--primaryColor);
	outline: var(--primaryColor);
	border: 1px solid var(--primaryColor);
	background-color: inherit;
	margin: auto;
	transition: all 0.2s linear;
}
.nav-links-container-btn Button:hover,
.loginTrialBtn:hover {
	color: white;
	border: 1px solid var(--primaryColor);
	background-color: var(--primaryColor);
}

.nav-toggle-container {
	display: none;
}

.text-logo {
	display: none;
	color: var(--primaryColor);
	font-weight: 600;
	font-size: 2em;
	margin: auto;
	font-family: "Courier New", Courier, monospace;
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
	text-transform: capitalize;
}

.bar {
	height: 3px;
	width: 30px;
	background-color: whitesmoke;
	border-radius: 4px;
	margin: 6px;
	transition: all ease-out 0.4s;
	/* border: 1px solid white; */
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-2px, 8px);
	transform: rotate(-45deg) translate(-2px, 8px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-4px, -10px);
	transform: rotate(45deg) translate(-4px, -10px);
}

.bottom-nav-link-container {
	display: flex;
	justify-content: space-evenly;
	height: 100%;
	flex-direction: column;
}

.bottom-nav-btn-grp {
	display: flex;
	justify-content: center;
	/* margin: 20px 0; */
}

.bottom-nav {
	background-color: rgba(0, 0, 0, 0.918);
	transition: all ease-out 0.4s;
	height: 0px;
}

.bottom-nav-open {
	height: 380px;
}

@media screen and (max-width: 1000px) {
	.text-logo {
		display: block;
	}
	.nav-links-container {
		display: none;
	}

	.nav-toggle-container {
		display: block;
	}

	.nav-logo {
		margin: 0;
		width: 4em;
	}
}

@media screen and (max-width: 600px) {
	.nav-links-container-btn {
		display: none;
	}
}
