.gallery-page {
  min-height: fit-content;
  overflow: hidden;
}

.gallery-bg-main-div {
  position: relative;
  margin: 2rem auto;
  z-index: -10;
}

.gallery-page-content {
  z-index: -1;
  padding: 20px 0;
  width: 100%;
}

.gallery-card-main-div {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  height: 39vw;
  margin: 2rem auto;
  color: rgb(255, 231, 231);
  box-shadow: 0 0 18px 1px #9b9b9b;
}

.gallery-card-main-div > div:first-child {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff85;
  filter: grayscale(1);
  background-blend-mode: overlay;
}

.gallery-card-main-img-div {
  position: relative;
  width: 70%;
  height: 100%;
}

.gallery-card-main-img-div > div {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

.gallery-card-hidden {
  opacity: 0;
}

.gallery-card-visible {
  opacity: 1;
}

.gallery-card-main-img-div img {
  width: 100%;
  box-shadow: 0 0 11px #e1e1e1;
}

.gallery-card-img-overlay {
  position: absolute;
  bottom: 2%;
  left: 2%;
  color: whitesmoke;
  background-color: #00000047;
  padding: 0.5em;
}

.gallery-card-img-overlay * {
  margin: 0.5em;
  text-align: left;
}

.gallery-slides-main-div {
  height: 100%;
  width: 20%;
  overflow-y: scroll;
  z-index: 3;
  /* box-shadow: 0 0 10px 0px #313131; */
}

.gallery-slides-main-div::-webkit-scrollbar {
  display: none;
}

.gallery-slides-div {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  height: fit-content;
}

.gallery-slides-div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.3em;
}

.gallery-slides-div img {
  width: 90%;
  transition: var(--fastTransition);
}

.gallery-img-active-thumbnail img {
  transform: scale(1.15);
  box-shadow: 0 0 5px var(--mainGrey);
  border-radius: 3px;
  z-index: 5;
}

.blender-image {
  position: relative;
  height: 400px;
}

.blender-image > div {
  /* transition: opacity ease-in-out 1s; */
  position: absolute;
}

.visible-img {
  opacity: 1;
}

.gallery-card-hidden-img {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .gallery-card-main-div {
    width: 90%;
    height: 46vw;
  }
}

@media screen and (max-width: 550px) {
  .gallery-main-container {
    padding: 0.5em;
  }

  .gallery-card-main-div {
    flex-direction: column;
    width: 95%;
    justify-content: space-evenly;
    height: 83vw;
    /* padding: 0.5em; */
  }

  .gallery-card-main-img-div {
    width: 95%;
    height: 70%;
  }

  .gallery-img-active-thumbnail img {
    transform: scale(1.12);
    box-shadow: 0 0 5px var(--mainGrey);
    z-index: 5;
  }

  .gallery-slides-main-div {
    height: 25%;
    width: 100%;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .gallery-slides-div {
    flex-direction: row;
    height: 80%;
    width: fit-content;
  }
  .gallery-slides-div > div {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-right: 0.2em;
  }

  .gallery-slides-div img {
    height: 100%;
    width: initial;
  }
}
