.Entry-Form {
  background-color: rgb(255, 249, 249);
  /* background-image: url(/static/media/im5.7b9adf91.jpg); */
  display: block;
  /* margin-top: 0px; */
  /* margin-bottom: 15px; */
  padding: 20px;

  /* flex-direction: column; */
}

input {
  /* background-color: cyan; */
  display: flex;
  border: 2px solid rgb(1, 146, 146);
  border-radius: 8px;
  flex-direction: column;
  width: 35%;
  margin: 55px auto;
  padding: 20px;
}
