.franchise-head-div {
    width: 90%;
    margin: auto;
}


.franchise-feature-main-div {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    /* background-color: rgb(161, 161, 214); */
    justify-content: center;
}

.franchise-feature-main-div div {
    margin: 1rem 1rem;
    min-width: 250px;
    flex-wrap: wrap;
}

.franchise-get-started {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin: 2rem auto;
    background-color: honeydew;
}

.franchise-get-started div {
    margin: 1rem 4rem;
    width: 190px;
    text-align: left;
}

.franchise-get-started-icon {
    font-size: 32px;
}