/* git => get in touch */
/* rac => request a call back */

.cont-rac-main-div {
  width: 100%;
  margin: 2rem auto;
  transition: var(--fastTransition);
  border: 2px solid green;
}

.cont-rac-text-div {
  width: 90%;
  margin: 0.5rem auto 0;
  /* background-color: burlywood; */
}

.cont-rac-text-div h1 {
  font-size: 18px;
}

.cont-rac-text-div span {
  transition: var(--fastTransition);
  font-size: 12px;
}

.cont-rac-form-div {
  width: 90%;
  display: flex;
  margin: 1rem auto;
  margin-top: 0;
  flex-direction: column;
}

.cont-rac-left-div {
  /* background-color: rgb(165, 65, 65); */
  width: 100%;
  margin: auto;
}

.cont-rac-right-div {
  width: 100%;
  text-align: left;
  /* background-color: blanchedalmond; */
  margin: 0rem auto;
}

.cont-rac-right-div a {
  transition: var(--fastTransition);
  display: block;
  margin: 1rem auto 0rem 1.3rem;
  text-decoration: none;
  color: blue;
}

.cont-rac-right-div a:hover {
  color: var(--primaryColor);
}

.cont-rac-form-div {
  margin: 1rem auto;
}

.cont-rac-form-btn-container {
  margin: 0.5rem auto;
  /* background-color: whitesmoke; */
}

.cont-rac-form-btn-container button {
  margin: 0.2rem 1rem;
}

@media screen and (min-width: 550px) {
  .cont-rac-form-div {
    flex-direction: row;
    margin: 1.5rem auto;
    margin-top: 0.5rem;
  }

  .cont-rac-left-div {
    width: 60%;
  }

  .cont-rac-right-div {
    justify-items: center;
    padding-top: 2.5rem;
    width: 40%;
  }

  .cont-rac-text-div span {
    margin: 1rem auto 0.5rem;
    font-size: 16px;
  }
}

@media screen and (min-width: 800px) {
  .cont-rac-form-div {
    width: 85%;
  }

  .cont-rac-left-div {
    width: 50%;
  }

  .cont-rac-right-div {
    width: 40%;
  }

  .cont-rac-right-div a {
      font-size: 18px;
  }
}
