@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");


.full-blog-page {
  height: auto;
}
.full-blog-grid {
    display: grid;
    grid-template-columns: repeat(1,auto);
    place-content: center;
    align-items: stretch;   
}

.full-blog-wrapper {
  margin: 10rem 4rem;
  background-color: greenyellow;
  width:100%;
}

.full-blog-post {
  margin: 2rem;
  position: relative;
  padding: 2rem 2rem 2rem 2rem;
  background: #fff;
  width: 100%;
  max-width: 1000px ;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.full-blog-category-container {
  position: absolute;
  top: 7%;
  left: -1.7rem;
}

.full-blog-category-container span {
  padding: 8px 14px;
  background: linear-gradient(90deg, #66f5ff, #38c5f0);
}


.full-blog-category {
  font-size: 1.2rem;
  position: relative;
  transform: translate(0%, 0%);
  font-weight: bold;
}

.full-blog-date {
  margin: 0 0 0.5rem 0;
  color: #999;
  font-size: 1.2rem;
}
.full-blog-author {
  color: #999;
  font-size: 1.2rem;
}

.full-blog-heading {
  margin: 0 0 1rem 0;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  color: #333;
}

.full-blog-p {
  margin: 0 0 2rem 0;
  font-size: 1rem;
  color: #333;
}

.full-blog-btn_primary {
  border: none;
  outline: none;
  text-decoration: none;
  background: linear-gradient(90deg, #66f5ff, #38c5f0);
  padding: 0.5rem 0.5rem;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.full-blog-btn_primary:hover {
  text-decoration: none;
  box-shadow: 0px 5px 1rem rgba(112, 234, 255, 0.5);
}


@media screen and (max-width: 550px) {
    .full-blog-grid{
        display:flex;
        flex-direction: column;
    }
    .full-blog-wrapper{
        margin:auto;
    }
    .full-blog-post{
        width:90%;
    }
}
