.footer-comp {
  margin-top: 5rem;
  background: url("../../Images/im18.jpg") center/cover no-repeat;
  width: 100%;
}

.footer-bg {
  display: block;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.footer-link-timmings {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-around;
}

.footer-timmings-div,
.footer-quick-links-div {
  width: 25%;
  padding: 10px;
  height: fit-content;
  min-width: 9rem;
  color: white;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  text-align: left;
  text-decoration: none;
  /* background-color: blue; */
}

.footer-quick-links-cont,
.footer-timmings-cont {
  width: fit-content;
  margin: 0 auto;
}

.footer-timmings-div {
  min-width: 13.5rem;
  width: 45%;
  /* background-color: darkgoldenrod; */
}

.footer-timmings-div p {
  font-size: var(--pFontSizeMob);
  margin: 8px 0 0 0;
}

.footer-quick-links-div a {
  margin-top: 8px;
  font-size: var(--pFontSizeMob);
  color: white;
  display: block;
  transition: var(--fastTransition);
}

.footer-quick-links-div a:hover {
  text-decoration: none;
  color: var(--primaryColor);
}

.footer-social-media,
.footer-get-app {
  width: 100%;
}

.footer-social-media-cont,
.footer-get-app-cont {
  margin: auto;
  width: fit-content;
  letter-spacing: var(--mainSpacing);
}

.footer-social-media-cont a,
.footer-get-app-cont a {
  font-size: 34px;
  margin: 0rem 1rem;
  text-decoration: none;
  color: var(--primaryColor);
}

.footer-get-app-cont {
  display: flex;
  margin-top: 0.8rem;
}

.footer-get-app-cont span {
  margin: auto 0.2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  color: white;
}

.footer-get-app-cont a {
  margin-right: 0.4rem;
}

.footer-buttons {
  width: 100%;
  margin: 1rem auto;
}

.footer-buttons-right {
  display: none;
}

.footer-copyright {
  font-size: 12px;
  margin: 1.5rem auto;
  letter-spacing: var(--mainSpacing);
  color: white;
}

@media screen and (min-width: 460px) {
  .footer-timmings-div,
  .footer-quick-links-div {
    font-size: 24px;
    min-width: 10rem;
  }

  .footer-timmings-div {
    min-width: 19rem;
  }

  .footer-quick-links-div a {
    font-size: 18px;
  }
  .footer-timmings-div p {
    font-size: 18px;
  }
}

@media screen and (min-width: 600px) {
  .footer-get-app-div {
    display: none;
  }

  .footer-get-app-cont {
    font-size: 24px;
    display: flex;
    flex-direction: column;
  }

  .footer-get-app-cont a {
    font-size: 46px;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .footer-social-media-cont a{
    font-size: 42px;
  }

  .footer-buttons-right {
    width: 25%;
    height: fit-content;
    text-align: center;
    /* margin: auto; */
    display: block;
  }

}
