.footer-text {
  font-size: 4.5em;
  letter-spacing: 1rem;
  font-weight: 750;
  margin-bottom: -0.4em;
}

.footer-main {
  background: var(--mainBlack);
  padding: 2em;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer-child {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-child-head{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-child-head-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--mainWhite);
  font-weight: 600;
  font-size: 1.25rem;
}

.head-separator {
  width: 60%;
  height: 0.5em;
  background-color: var(--primaryColor);
  margin: 1em 0;
}

.footer-child-content {
  margin: 1em;
}

.footer-link-group {
  display: flex;
  flex-direction: row;
}

.footer-quicklinks,
.newsletter-text  {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  color: var(--mainWhite);
  font-weight: 400;
  margin: 0 0.75em;
}

.links {
  text-decoration: none;
  padding: 0.25em;
  color: var(--mainWhite);
}

.links:hover,
.links:active,
.links:visited {
  text-decoration: underline var(--primaryColor);
  color: var(--mainWhite);
}

.footer-social-media,
.footer-get-app {
  width: 100%;
}

.footer-social-media-cont,
.footer-get-app-cont {
  margin: auto;
  width: fit-content;
}

.footer-social-media-cont a,
.footer-get-app-cont a {
  font-size: 1em;
  margin: 0rem 0.5rem;
  text-decoration: none;
  color: var(--mainWhite);
}

.footer-social-media-cont a svg,
.footer-get-app-cont a svg {
  height: 0.75em;
  width: 0.75em;
}

.footer-get-app-cont,
.footer-social-media-cont {
  display: flex;
}

.newsletter-input {
  direction: rtl;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 1em 0.75em;
}

#newsletter-input-field {
  direction: ltr;
  padding: 0.75em 1em;
  border: 1px solid var(--mainWhite);
  background-color: rgba(0,0,0,0);
}

#newsletter-button {
  font-weight: 500;
  background-image: linear-gradient(to right, var(--primaryColor), rgb(215,90,231));
  padding: 0.75em 1em;
  color: var(--mainWhite);
  border: none;
  outline: none;
  width: fit-content;
}

.footer-comp {
  margin-top: 0rem;
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("../../Images/im18.jpg") center/cover no-repeat;
  width: 100%;
}

.footer-bg {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.footer-link-timmings {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-around;
}

.footer-timmings-div,
.footer-quick-links-div {
  width: 25%;
  padding: 15px 10px;
  height: fit-content;
  min-width: 9rem;
  color: white;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  text-align: left;
  text-decoration: none;
  /* background-color: blue; */
}

.footer-quick-links-cont,
.footer-timmings-cont {
  width: fit-content;
  margin: 0 auto;
}

.footer-quick-links-cont span,
.footer-timmings-cont span {
  border-left: 2px solid var(--primaryColor);
  padding-left: 4px;
}

.footer-timmings-div {
  min-width: 13.5rem;
  width: 45%;
  /* background-color: darkgoldenrod; */
}

.footer-timmings-div p {
  font-size: var(--pFontSizeMob);
  margin: 8px 0 0 0;
}

.footer-quick-links-div a {
  margin-top: 8px;
  font-size: var(--pFontSizeMob);
  color: white;
  display: block;
  transition: all linear 0.15s;
}

.footer-quick-links-div a:hover {
  text-decoration: none;
    transform: translateX(4px);
    color: var(--primaryColor);
}

.footer-get-app-cont span {
  margin: auto 0.2rem;
  border-left: 2px solid var(--primaryColor);
  padding-left: 4px;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  color: white;
}

.footer-get-app-cont a {
  margin-right: 0.4rem;
}

.footer-get-app-cont a:hover,
.footer-social-media-cont a:hover {
  transform: scale(1.09);
}

.footer-buttons {
  width: 100%;
  margin: 1rem auto;
}

.footer-buttons-right {
  display: none;
}

.footer-copyright {
  font-size: 12px;
  margin: 1.5rem auto 0;
  letter-spacing: var(--mainSpacing);
  color: white;
}

@media screen and (min-width: 550px) {
  .footer-timmings-div,
  .footer-quick-links-div {
    font-size: 24px;
    min-width: 10rem;
  }

  .footer-timmings-div {
    min-width: 19rem;
  }

  .footer-quick-links-div a,
  .footer-timmings-div p {
    font-size: 15px;
  }
}

@media screen and (min-width: 800px) {
  .footer-get-app-div {
    display: none;
  }

  .footer-get-app-cont {
    font-size: 24px;
    display: flex;
    justify-content: start;
    flex-direction: column;
  }

  .footer-quick-links-cont span,
  .footer-get-app-cont span,
  .footer-timmings-cont span {
    border-left: 3px solid var(--primaryColor);
    padding-left: 5px;
  }

  .footer-get-app-cont a {
    font-size: 46px;
    margin-right: auto;
    margin-top: 1rem;
  }

  .footer-social-media-cont a {
    font-size: 42px;
  }

  .footer-buttons-right {
    width: 25%;
    height: fit-content;
    text-align: center;
    display: block;
  }
}
