.review-card-main-div {
  width: 100%;
  margin: auto;
  padding: 1.2rem 2rem;
}

.review-card-star {
  color: gold;
  margin: 0 2px;
}

.review-card-text-div {
  margin: auto;
  margin-top: 0.8rem;
  width: 95%;
}

.review-card-text-div h2 {
  margin: 0.8rem auto;
  text-transform: capitalize;
}
.review-card-user-img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 150px;
  overflow: hidden;
}

.review-card-user-img img {
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 700px) {
  .home-review-comp {
    width: 100%;
  }

  .review-card-main-div {
    padding: 0.2rem 0.1rem;
  }

  .review-card-star {
    margin: 0 2px;
  }

  .review-card-text-div {
    margin-top: 0.6rem;
    font-size: 12px;
    width: 100%;
  }

  .review-card-text-div h2 {
    font-size: 18px;
    margin: 0.6rem auto;
  }
  .review-card-user-img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
  }

  .review-card-user-img img {
    width: 80px;
    height: 80px;
  }
}
