.card {
  margin: 10px auto;
  border: none;
  width: 80%;
  text-align: center;
  overflow: hidden;
  transition: var(--fastTransition);
  box-shadow: 2px 2px 30px 5px var(--darkGrey);
  transition: var(--mainTransition);
}

.card img {
  display: block;
  margin: 5px auto;
}

.mask1,
.mask3 {
  position: absolute;
  height: 3px;
  background-color: var(--primaryColor);
  transition: var(--fastTransition);
  width: 20%;
}

.mask1 {
  top: 0px;
  right: 0px;
  background-color: var(--primaryRed);
}

.mask3 {
  bottom: 0px;
  left: 0px;
}

.mask2,
.mask4 {
  position: absolute;
  width: 3px;
  height: 30%;
  transition: var(--mainTransition);
}

.mask2 {
  right: 0px;
  top: 0px;
  background-color: var(--primaryRed);
}

.mask4 {
  left: 0px;
  bottom: 0px;
  background-color: var(--primaryColor);
}

.active1,
.active3 {
  width: 80%;
  height: 1.5px;
}
.active2,
.active4 {
  height: 80%;
  width: 1.5px;
}
.card h4 {
  margin: 7px auto;
  letter-spacing: var(--mainSpacing);
}
.card p {
  width: 90%;
  margin: 5px auto;
  font-size: 12px;
}

.cardCont {
  padding: 1.5rem 0;
  width: 100%;
  text-align: center;
  margin: 1.5rem auto;
}

.cardCont-center {
  width: 95%;
  margin: 0 auto;
}

.card-btn {
  display: inline-block;
  text-align: center;
  margin: 18px auto 0;
}

.card-btn a {
  margin: 0 auto;
}

/* min-width for screen equal or greter than min-width */
@media screen and (min-width: 650px) {
  .card-holder {
    width: 25%;
  }

  .card-btn {
    margin: 18px auto 0;
  }

  .cardCont-center {
    display: flex;
    justify-content: space-evenly;
  }

  .card {
    width: 90%;
    max-width: 300px;
    height: 300px;
  }
  .card h4 {
    margin: 12px auto;
  }
}

@media screen and (min-width: 550px) {
  .card p {
    font-size: 16px;
  }
}
