.our-program-backdrop{
    background-color:var(--mainBlack);
    height:100vh;
    width:100%;
}
.our-program-category-card{
    background:url(../../Images/Programs/img1.jpg);
    background-size:cover;
    background-attachment: fixed;
    color:var(--mainGrey);
    height:100vh;
    clip-path: polygon(0% 0%,100% 0%,100% 60%, 50% 100%, 0% 60%);
}
.our-program-mini-container{
 position: absolute;
 width:80%;
 display: grid;
 grid-template-columns: repeat(3,auto);
 grid-gap:0 40px;   
  
}
.our-program-mini{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height:100vh;
    position:relative;
}
.our-program-mini-box{
    color:var(--mainGrey);
    width:fit-content;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to left,rgb(17, 12, 12) 50%,rgba(31, 31, 36, 0.7) 50%);
    position: relative;
    border:3px solid white;
   
}

.our-program-mini-content{
    position: relative;
    padding: 20px;
    text-align: center;
    width: 300px;
    height:auto;
}
.our-program{
    overflow-x: hidden;
}