.pro-car-main-div {
	position: relative;
	width: 100%;
	height: 600px;
	display: flex;
	margin: auto;
	align-items: center;
	overflow: hidden;
	/* background-color: lightslategray; */
}

.pro-car-img-div {
	display: flex;
	align-items: center;
	width: fit-content;
	height: 90%;
	/* background-color: linen; */
	/* transition: transform ease-in-out 0.5s; */
}

.pro-car-img-div > div {
	padding: 3vw;
	z-index: 0;
}

.pro-car-img-div img {
	width: 100%;
}

.slide-container > img {
	transition: transform ease-in-out 0.5s;
}
/* .pro-car-img-div img{
  width: 15vw;
  height: auto;
  margin: auto 50px;
  transition: var(--mainTransition);
} */

.pro-car-img-unactive {
	transform: scale(0.9);
	box-shadow: 0 0 11px 0px #313131;
	/* filter: blur(0.5em); */
}

.pro-car-img-active {
	transform: scale(1.5);
	box-shadow: 0 0 11px 0px #313131;
}

.pro-car-nextBtn,
.pro-car-prevBtn {
	position: absolute;
	width: 50px;
	height: 50px;
	font-size: 32px;
	background-color: lightyellow;
	border-radius: 50%;
	z-index: 3;
}

.pro-car-nextBtn {
	right: 10px;
}

.pro-car-prevBtn {
	left: 10px;
}

/* .pro-car-left-img {
  margin: auto;
  width: 20%;
}
.pro-car-main-img {
  margin: auto;
  width: 50%;
}

.pro-car-right-img {
  width: 20%;
  margin: auto;
}

.pro-car-left-img img,
.pro-car-main-img img,
.pro-car-right-img img {
  margin: auto;
  width: 100%;
  height: auto;
} */

@media screen and (max-width: 900px) {
	.pro-car-main-div {
		width: 99vw;
		background-color: whitesmoke;
		height: 80vw;
	}

	.pro-car-img-div > div {
		padding: 0 6vw;
	}
}
