.pro-car-main-div {
  width: 90%;
  height: 600px;
  background-color: lightslategray;
}

.pro-car-img-div {
  display: flex;
  width: fit-content;
  height: 500px;
  background-color: linen;
  transition: var(--mainTransition);
}

/* .pro-car-img-div img{
  width: 15vw;
  height: auto;
  margin: auto 50px;
  transition: var(--mainTransition);
} */

.pro-car-img-unactive {
  width: 15vw;
  height: auto;
  margin: auto 50px;
  transition: var(--mainTransition);
}

.pro-car-img-active {
  /* transform: scale(2.2); */
  width: 30vw;
  height: auto;
  margin: auto 50px;
  transition: var(--mainTransition);
}
.pro-car-nextBtn,
.pro-car-prevBtn {
  position: absolute;
  top: 100%;
  width: 50px;
  height: 50px;
  font-size: 32px;
  background-color: lightyellow;
  border-radius: 50%;
}

.pro-car-nextBtn {
  right: 10px;
}

.pro-car-prevBtn {
  left: 10px;
}

/* .pro-car-left-img {
  margin: auto;
  width: 20%;
}
.pro-car-main-img {
  margin: auto;
  width: 50%;
}

.pro-car-right-img {
  width: 20%;
  margin: auto;
}

.pro-car-left-img img,
.pro-car-main-img img,
.pro-car-right-img img {
  margin: auto;
  width: 100%;
  height: auto;
} */
